.nav {
  display: flex;
  padding-left: 0px;
  padding-right: 43px;
}

ul {
  list-style-type: none;
  display: inline-flex;
  margin: auto;
}

a {
  text-decoration: none;
}
.icon-1 {
  width: 17px;
  height: 18px;
  margin: 0 11px 0 0;
  background-size: 17px 18px !important;
  background: url("../../assets/img/icon-menu-1.png") no-repeat;
}
.icon-2 {
  width: 22px;
  height: 21px;
  margin: 0 20px 0 0;
  background-size: 22px 21px !important;
  background: url("../../assets/img/icon-menu-2.png") no-repeat;
}
.icon-3 {
  width: 18px;
  height: 18px;
  margin: 0 20px 0 0;
  background-size: 18px 18px !important;
  background: url("../../assets/img/icon-menu-3.png") no-repeat;
}
.icon-4 {
  width: 22px;
  height: 23px;
  margin: 0 20px 0 0;
  background-size: 22px 23px !important;
  background: url("../../assets/img/icon-menu-4.png") no-repeat;
}
.icon-5 {
  width: 20px;
  height: 20px;
  margin: 0 20px 0 0;
  background-size: 20px 20px !important;
  background: url("../../assets/img/icon-menu-5.png") no-repeat;
}
.menu-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px 0 23px 0;
  border-bottom: 2px solid #f2f2f2;
  font-family: Thonburi-Light;
  font-size: 18px;
  color: #8f8e94;
  width: 160px;
}

.active {
  color: red;
  border-bottom: 5px solid red;
  padding-bottom: 20px;
}
.active .icon-1 {
  background: url("../../assets/img/icon-menu-1-active.png") no-repeat;
}
.active .icon-2 {
  background: url("../../assets/img/icon-menu-2-active.png") no-repeat;
}
.active .icon-3 {
  background: url("../../assets/img/icon-menu-3-active.png") no-repeat;
}
.active .icon-4 {
  background: url("../../assets/img/icon-menu-4-active.png") no-repeat;
}
.active .icon-5 {
  background: url("../../assets/img/icon-menu-5-active.png") no-repeat;
}

.home {
  padding-top: 10px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 810px;
  width: 100%;
  padding-right: 15px;
}

.date {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
  font-family: Thonburi-Bold;
  font-size: 16px;
}

.point {
  display: flex;
  font-family: Thonburi-Light;
  font-size: 32px;
  color: #ffffff;
}

.show_point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px 40px 54px 40px;
  /* Rectangle Copy 14: */
  background: #ee2524;
  border-radius: 10px 0 0 10px;
}

.show_point2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px 40px 54px 40px;
  /* Rectangle Copy 14: */
  background: #a71b1a;
  border-radius: 0 10px 10px 0;
}

.unit {
  /* คะแนน copy: */
  font-family: Thonburi-Light;
  font-size: 18px;
  color: #ffffff;
}

.home_text-header {
  margin: 20px 0;
  /* สำหรับคุณ: */
  font-family: Thonburi-Light;
  font-size: 22px;
}
